/* Background styles */
body {
  background-color: #000000;
  color: white;
  /* Font Style */
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 12px;
  padding-top: 60px;
  /* Set the SVG as a background image */
  background-image: url("wavehr.svg");
  /* Set background properties */
  background-size: cover; /* Cover the entire background */
  /* background-attachment: fixed; */
  background-position: bottom; /* Position the background at 75% from the top */
  backdrop-filter: blur(3px);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #222bd2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.tophead {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.title {
  font-weight: 700; /* Set the weight to 700 (bold) */
  font-size: 35px;
  order: 1;
}

.switchcon {
  order: 2;
  padding-right: 30px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs input {
  width: 200px;
  padding: 10px;
  border: 2px solid red;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 12px;
  text-align: center;
}

.inputs input::placeholder {
  color: gray;
  font-style: italic;
  font-size: 9px;
}

.inputs label {
  position: relative;
  background-color: #000000;
  padding: 5px;
  top: 15px;
  left: -70px;
  color: white;
  font-weight: 700;
}

.mid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Adjust the height as needed */
}

.container {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px; /* Adjust the border-radius as needed */
  padding: 10px 20px;
  margin: 0 10px;
  box-shadow: 0 0 2px rgb(255, 0, 0); /* Adjust the shadow color and size as needed */
  cursor: pointer;
}

/* Hover effect (optional) */
button:hover {
  box-shadow: 0 0 15px red;
}
/* Timer Section */
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.bottom.main {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border: 2px solid red;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.65);
}

.specs,
.ronda,
.state {
  font-size: 10px;
}
.mainTimer {
  font-size: 40px;
}
.bottom.session {
  flex: 0.2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.last {
  position: fixed;
  bottom: 1px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.clock {
  flex: 0.1;
  display: flex;
  flex-direction: row;
  align-items: center;
  order: 2;
  padding-right: 30px;
}

.errormsg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 7;
  order: 1;
}

/* Styling for the spans */
.bottom span {
  font-size: 1.5em; /* Adjust the font size as needed */
  margin: 0 5px;
}

/* Styling for the error messages */
.errormsg p {
  margin: 0;
}
